*{
	margin: 0 auto;
	padding: 0;
}

body,header,section,footer{
	display: block;
}
body{
    background-color: brown;
}
section{
	padding: 1em;
	margin: 1em auto;
    background-color: antiquewhite;
}
footer{
    position: fixed;
    background-color: #000;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 20px;
    text-align: center;
    color: #ffffff;
}